.image-card {
  width: 100%;
  border: 1px solid var(--third);
  border-radius: 0.8rem;
  overflow: hidden;
  .show-more-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    color: var(--font-light);
    background-color: var(--third);
    background: linear-gradient(
      267.76deg,
      #f19b02 -1.97%,
      rgba(241, 155, 2, 0.45) 99.68%
    );
    transition: 200ms;
    cursor: pointer;
    svg {
      font-size: 1.6em;
    }
    &:hover {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
