@import "../../../../sass/effects";

.partners-section-about {
  padding: 4rem 0;
  .header {
    margin-bottom: 2rem;
  }
  .partners-icons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .row {
      display: flex;
      width: fit-content;
      max-width: 100%;
      align-items: center;
      gap: 1.4rem;
      .icon-item {
        width: 5rem;
        height: 5rem;
        border-radius: 50rem;
        border: 2px solid var(--third);
        // background-color: var(--main);
        overflow: hidden;
        padding: 0.6rem;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 2rem 0px #f9ca8780;
        justify-content: center;
        @include ScaleHoverLg {
          transform: scale(1.4);
        }
        img {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          object-fit: contain;
          // filter: drop-shadow(0 0 2px var(--font-light));
        }
      }
    }
  }
}
