.services-section {
  // background-color: var(--bg-lightest);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0;
  padding-bottom: 0rem;
  z-index: 1000;
}

.services-cards-container {
  max-width: 60rem;
  width: 60rem;
  gap: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.top-shape {
  min-width: 100%;
  // height: 20rem;
  position: absolute;
  bottom: calc(100% - 5rem);
  left: 0;
  z-index: -1;
  background-size: 100% 100%;
}

.service-card-main-page {
  width: 20rem;
  margin: 1rem;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  .title {
    max-width: 60%;
    width: fit-content;
    padding: 0.6rem 0.4rem;
    background: linear-gradient(270deg, #f19b02 0%, rgba(241, 155, 2, 0) 70%);
  }
  .describtion {
    width: 100%;
    max-height: 4.2em;
    overflow: hidden;
  }
  .service-image {
    width: 20rem;
    height: 21rem;
    margin-top: 0.4rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--main-shadow);
  }

  &:nth-of-type(2n) {
    margin-top: 2rem;
  }
}
