.services-section {
  // background-color: var(--bg-lightest);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0;
  padding-bottom: 0rem;
  z-index: 1000;
  .tight-section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.services-cards-container {
  gap: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.change-slide-buttons {
  display: flex;
  margin-top: 1rem;
  gap: 0.6rem;
  .increment,
  .center,
  .decrement {
    width: 2rem;
    height: 0.6rem;
    background-color: var(--gray);
    border-radius: 0.2rem;
  }
  .center {
    width: 4rem;
    background-color: var(--third);
  }
  .increment,
  .decrement {
    cursor: pointer;
    transition: 400ms;
    &:hover {
      z-index: 100;
      transform: scale(1.2, 1);
      background-color: var(--third);
      box-shadow: 0 0 0.8rem var(--third);
    }
  }
}

.top-shape {
  min-width: 100%;
  // height: 20rem;
  position: absolute;
  bottom: calc(100% - 5rem);
  left: 0;
  z-index: -1;
  background-size: 100% 100%;
}

.service-card-main-page {
  width: 25rem;
  margin: 1rem;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  transition: 300ms ease-in-out;
  .title {
    max-width: 60%;
    width: fit-content;
    padding: 0.6rem 0.4rem;
    background: linear-gradient(270deg, #f19b02 0%, rgba(241, 155, 2, 0) 70%);
  }
  .describtion {
    width: 100%;
    max-height: 4.2em;
    overflow: hidden;
  }
  .service-image {
    width: 100%;
    height: 21rem;
    margin-top: 0.4rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.8rem;
    box-shadow: 0.2rem 0.2rem 0.4rem var(--main-shadow);
  }

  &:nth-of-type(2n) {
    margin-top: 2rem;
  }
  &.loading {
    opacity: 0;
    transform: translateX(5rem);
  }
}
