#ProjectBoxCard:hover {
box-shadow: 2px 2px 2px 2px gray;
}

.projectDivHover {
  height: 100%;
  width: 100%;
  background-color: rgba(74, 73, 73, 0.3411764706);
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  transition: all 2s ease-in-out;
  border-radius: 6px;
  padding-bottom: 0.4rem;
}

.projectDivHover button {
  width: 325px;
  margin: 3px auto;
}

#ProjectBoxCard:hover .projectDivHover{
    display: flex;
}
#ProjectBoxCard:hover .ProjectName{
  display: none;
}