@import "../../../../sass/breakpoints";

.partners-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 4rem;
  padding-bottom: 15rem;
  pointer-events: none;
  background-color: var(--main);
  // background: linear-gradient(180deg, var(--main-sec) 0%, var(--main) 113.64%);
  background-color: white;
}
