@import "../../sass/breakpoints";

.navbars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  transition: 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
  pointer-events: none;
  * {
    pointer-events: all;
  }

  &.hide-top {
    margin-top: calc(var(--top-navbar-height) * -1);
  }
  @include Mobile {
    // display: none;
  }
}
