.services-placeholder {
  .service-placeholder-card {
    .image-container {
      background: #f6f7f8;
      background: linear-gradient(
        to right,
        #f5f4f3 8%,
        #ebebeb 18%,
        #f5f4f3 33%
      );
      // background-size: 10rem 8rem !important;
      animation-duration: 1.4s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
    }
  }
  .text-item {
    width: 50%;
    height: 1.4rem;
    background: #f6f7f8;
    background: linear-gradient(to right, #f5f4f3 8%, #ebebeb 18%, #f5f4f3 33%);
    // background-size: 10rem 8rem !important;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
  }
  .text-item:nth-last-of-type(2) {
    width: 80%;
  }
  .text-item:nth-last-of-type(1) {
    width: 60%;
  }
}
