@import "../../../../sass/breakpoints";

.latest-news-section {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  background-color: rgba(255, 255, 255, 0.8);
  .content-container {
    .news-title {
      font-size: 1.4rem;
      width: 100%;
      text-align: center;
      margin-bottom: 0.8rem;
      position: relative;
      .the-title {
        position: relative;
        &::before {
          content: "";
          width: 30rem;
          height: 2px;
          background-color: var(--main);
          left: calc(100% + 0.6rem);
          top: 50%;
          position: absolute;
        }
      }
    }
    .section-title {
      margin-bottom: 2rem;
    }
    width: 60rem;
    max-width: 100%;
    .content {
      display: flex;
      gap: 5rem;
      .image {
        width: 25rem;
        height: 15rem;
        border-radius: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .describtion-card {
      width: 25rem;
      position: relative;
      overflow: hidden;
    }
  }
  .read-more-button-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    a {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-size: 1.2rem;
      // padding: 0.2rem 2rem;
      // margin-left: -2rem;
      border-radius: 1000rem;
      background-color: transparent;
      border: 1px solid transparent;
      transition: 150ms;
      margin-top: 0.8rem;
      &:hover {
        // color: var(--third);
        // border-color: var(--third);
        // background-color: var(--font-light);
        gap: 0.8rem;
      }
    }
  }
  @include Mobile {
    padding: 1rem;
    .content-container {
      .content {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1rem;
        .image {
          width: 26rem;
          max-width: 100%;
          height: 15rem;
        }
        .describtion-card {
          width: 30rem;
          max-width: 100%;
        }
      }
    }
  }
}
