.page-banner-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  .overlay {
    width: 100%;
    height: 100%;
    background-color: var(--main-overlay);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    color: var(--font-light);
    h2 {
      font-size: 3.6rem;
    }
    width: 100%;
    height: 18rem;
  }
  > .content {
    width: 80%;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.filter-container {
  max-width: 100%;
  width: 75%;
  gap: 1rem;
  margin: 2rem 0;
  .search-bar {
    width: calc(85% - 1rem);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: var(--bg-light);
    border-radius: 200rem;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 0.3rem var(--main-shadow-light);
    input {
      background-color: transparent;
      width: 100%;
      padding: 0.8rem 2rem;
      // border: 1px solid black;
      font-size: 1em;
      border: none;
      outline: none;
      border-radius: 200rem;
    }
    svg {
      position: absolute;
      left: 2rem;
      color: gray;
    }
  }
}
