@import "../../sass/breakpoints";

.page-banner-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
  .overlay {
    width: 100%;
    height: 100%;
    background-color: var(--main-overlay);
    display: flex;
    flex-direction: column;
    // gap: 0.4rem;
    align-items: center;
    justify-content: center;
  }
  .banner {
    color: var(--font-light);
    text-align: center;
    h2 {
      font-size: 2.6rem;
    }
    width: 100%;
    height: 18rem;
    .subtitle {
      font-size: 1.3rem;
      max-width: 40%;
      line-height: 1.2em;
    }
    .navigate {
      display: flex;
      align-items: center;
      gap: 1rem;
      a::before {
        content: "";
      }
      .is-active {
        color: var(--third);
      }
    }
  }
  > .content {
    width: 80%;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @include Mobile {
    padding-top: 3rem;
  }
}
