.project-card {
  display: flex;
  flex-direction: column-reverse;
  height: 20rem;
  width: 20rem;
  background-size: cover;
  background-position: center;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0.1rem 0.1rem 0.4rem var(--main-shadow);
  &,
  * {
    transition: 300ms;
  }
  .info {
    height: 40%;
    width: 100%;
    padding: 2rem;
    padding-top: 2.6rem;
    padding-bottom: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-position: right;
    background-size: 100% 100%;
    font-weight: 600;
    font-size: 1.05rem;
  }
  .link-with-arrow {
    // height: 0;
    transform: translateY(1.4rem);
    opacity: 0;
    pointer-events: none;
    margin-top: 0.6rem;
    &:hover {
      width: 11rem;
      box-shadow: 0.1rem 0.1rem 1rem var(--third);
    }
  }
  &:hover {
    transform: scale(1.03);
    box-shadow: 0.1rem 0.1rem 1.6rem var(--main-shadow);
    // z-index: 100;
    .info {
      height: 45%;
    }
    .link-with-arrow {
      pointer-events: all;
      opacity: 1;
      transform: translateY(0);
    }
  }
}
