.about-us-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .about-us-content {
    padding: 1rem;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    .right {
      width: 60%;
    }
    .left {
      width: 40%;
    }
    .left,
    .right {
      padding: 0.6rem;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
    .counters-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
      gap: 0.4rem;
      .counter-item {
        width: 4.5rem;
        .val {
          color: var(--third);
          &::after {
            content: "+";
          }
        }
      }
    }
  }
  .bg-container-dark {
    width: 100%;
    background: linear-gradient(268.04deg, #29285e 0%, #004693 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-icons-container {
    padding: 6rem 0;
    color: var(--main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .section-header {
      color: var(--main);
    }
    .partners-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    background: linear-gradient(268.04deg, #f3f5f7 0%, #ffffff 100%);
  }
  .statistics-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 28rem;
    padding: 6rem 2rem;
    // width: 100%;
    color: var(--font-light);
    .total,
    .counters {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
    }
    .total {
      width: 25%;
      height: 100%;
    }
    .counters {
      width: 75%;
      .top,
      .bottom {
        width: 100%;
        height: 50%;
        display: flex;
        > * {
          width: 33.33%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          padding: 0.6rem;
          border: 1px solid var(--third);
          .count-number {
            color: var(--third);
            font-size: 1.2rem;
            &::after {
              content: "+";
            }
          }
        }
      }
      .top > .item {
        border-top-color: transparent;
        &:last-of-type {
          border-left-color: transparent !important;
        }
      }
      .bottom > .item {
        border-bottom-color: transparent;
        &:last-of-type {
          border-left-color: transparent !important;
        }
      }
    }
  }
  .three-cards-cotnainer {
    width: 100%;
    padding: 8rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    color: var(--font-light);
    .card-item {
      width: 31%;
      min-width: 18rem;
      height: 14rem;
      border-radius: 0.6rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 2.8rem;
      padding-top: 3rem;
      background: linear-gradient(65.46deg, #29285e 0.09%, #004693 100.09%);
      .icon-head {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        border-radius: 500rem;
        width: 5rem;
        height: 5rem;
        background-color: var(--bg-med);
        color: var(--third);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
      }
    }
  }
  .bg-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
