nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  border-radius: 0.3rem;
  flex-wrap: wrap;
  width: 80%;
  padding: 1.2rem 4rem;
  background: var(--bg-light-semi);
  gap: 1rem;
  transition: 800ms;
  box-shadow: 0.2rem 0.2rem 0.4rem var(--main-shadow);
  //   color: var(--font-light);
  .right,
  .left {
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  text-shadow: 0.1rem 0.1rem 0.2rem var(--bg-light);
  .active {
    background-color: var(--third);
    text-shadow: none;
    color: var(--font-light);
    padding: 0.2rem 0.8rem;
    border-radius: 2rem;
  }
}

.hide-top {
  nav.navbar {
    background-color: var(--bg-light);
    // margin-top: 0.6rem;
    // width: 95%;
  }
}

// .expand-nav {
//   nav.navbar {
//     margin-top: 0.6rem;
//     width: 95%;
//   }
// }
