.news-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.15);
  &.show {
    opacity: 1;
    transform: none;
    pointer-events: all;
  }
  .news-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.411);
  }
  .news-popup-container {
    border-radius: 0.6rem;
    padding: 1rem;
    z-index: 10;
    width: 80vw;
    height: 80vh;
    overflow: hidden;
    background-color: var(--font-light);
    .news-popup {
      padding: 1rem;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      .news-popup-image {
        width: 100%;
        border-radius: 0.6rem;
      }
      .title {
        margin-bottom: 0.8rem;
      }
    }
  }
}
