@import "sass/breakpoints";
:root {
  --main: #004693;
  --main-sec: #292283;
  --main-overlay: #35337d66;
  --main-shadow: #2821824b;
  --main-shadow-light: #2821821a;
  --third: #f19b02;
  --third-sec: #f9cb8b;
  --third-light: #fceed6;
  --font-light: white;
  --bg-lightest: white;
  --bg-med: #f3f5f7;
  --bg-light: #f5f7fa;
  --bg-light-semi: #f5f7fac7;
  --gray: rgb(175, 175, 175);
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: var(--bg-light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--third);
  border-radius: 1rem;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar,
.table-container::-webkit-scrollbar,
.table::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--main);
  font-family: "TheSans";
  // line-height: 1.4em;
  overflow-x: hidden;
  max-width: 100vw;
}
body {
  overflow-x: hidden;
  max-width: 100%;
}

.section-header {
  color: var(--font-light);
  margin-bottom: 1.6em;
}

* {
  // outline: 1px solid rgba(121, 217, 255, 0.4);
}

.tight-section {
  width: 100rem;
  max-width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
}
.wide-section {
  width: 100vw;
  max-width: 100vw;
}

.link-with-arrow {
  // height: 0;
  // opacity: 0;
  // pointer-events: none;
  // width: 10rem;
  // height: 5rem;
  // box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  width: fit-content;
  gap: 1rem;
  cursor: pointer;
  // margin-top: 0.6rem;
  background-color: var(--font-light);
  border: 1px solid var(--third);
  color: var(--third);
  padding: 0.2rem 1rem;
  height: fit-content;
  &,
  * {
    transition: 300ms;
  }
  &:hover {
    gap: 2rem;
    // width: 11rem;
    box-shadow: 0 0 0.8rem var(--third);
    color: var(--font-light);
    background-color: var(--third);
  }
}
.section {
  padding: 1rem;
  width: 100%;
}
.section-title {
  color: var(--third);
  font-size: 1.4em;
  margin-bottom: 0.6rem;
}
.max-w-4 {
  max-width: 20rem;
}
.max-w-2 {
  max-width: 10rem;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-container-16-9 {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  border-radius: 0.6rem;
}
.image-container-21-9 {
  border-radius: 0.6rem;
  width: 100%;
  padding-top: 42.85%;
  overflow: hidden;
  position: relative;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.two-paragraphs-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  > .paragraph {
    width: 45%;
    min-width: 10rem;
    text-align: center;
  }
}

.centered-paragraph {
  text-align: center;
}

.text-third {
  color: var(--third);
}

@include Mobile {
  html {
    font-size: 14px;
  }
}
