:root {
  --main: #35337d;
  --main-sec: #292283;
  --main-overlay: #35337d66;
  --main-shadow: #2821824b;
  --main-shadow-light: #2821821a;
  --third: #f19b02;
  --third-sec: #f9cb8b;
  --font-light: white;
  --bg-lightest: white;
  --bg-light: #f5f7fa;
  --bg-light-semi: #f5f7faa9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--main);
  font-family: "TheSans";
  line-height: 1.4em;
}

.section-header {
  color: var(--font-light);
  margin-bottom: 1.6em;
}

* {
  // outline: 1px solid rgba(255, 0, 0, 0.15);
}
