@import "sass/breakpoints";
// @import "node_modules/swiper/swiper";
// @import "node_modules/swiper/components/effect-fade/effect-fade";
:root {
  --main: #292283;
  --main: #004693;
  --main-fixed: #004693;
  --main-sec: #292283;
  --main-overlay: #35337d66;
  --main-shadow: #2821824b;
  --main-shadow-light: #2821821a;
  --main-transition: 200ms ease-out;
  --third: #f19b02;
  --success: #4ade80;
  --error: #dc2626;
  --warning: #f19b02;
  --third-sec: #f9cb8b;
  --third-light: #fceed6;
  --font-light: white;
  --bg-lightest: white;
  --bg-med: #f3f5f7;
  --bg-light: #f5f7fa;
  --bg-light-semi: #f5f7fac7;
  --gray: rgb(175, 175, 175);
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  display: table;
}

/* Hide Increment Decrement Arrows From Input Number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.mui-fixed {
  box-sizing: content-box;
}
body {
  padding: 0 !important;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: var(--bg-light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--third);
  border-radius: 1rem;
}

// body::-webkit-scrollbar,
// html::-webkit-scrollbar,
.table-container::-webkit-scrollbar,
.table::-webkit-scrollbar {
  display: none;
}

.bg-main-transparent {
  background-color: var(--bg-med);
  border-radius: 1rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-error {
  color: var(--error) !important;
}
.text-main {
  color: var(--main) !important;
}

html {
  color: var(--main);
  font-family: "TheSans";
  // line-height: 1.4em;
  overflow-x: hidden;
  max-width: 100vw;
}
body {
  overflow-x: hidden;
  max-width: 100%;
}

.ltr {
  .flip-ltr {
    svg {
      transform: rotate(180deg) !important;
    }
  }
}

.section-header {
  color: var(--font-light);
  margin-bottom: 1.6em;
}

* {
  // outline: 1px solid rgba(255, 29, 29, 0.4);
}

.tight-section {
  width: 100rem;
  max-width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem;
}
.wide-section {
  width: 100vw;
  max-width: 100vw;
}

.padding-2 {
  padding: 1rem;
}

.w-100 {
  width: 100% !important;
}

.link-with-arrow {
  // height: 0;
  // opacity: 0;
  // pointer-events: none;
  // width: 10rem;
  // height: 5rem;
  // box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  width: fit-content;
  gap: 1rem;
  cursor: pointer;
  // margin-top: 0.6rem;
  background-color: var(--font-light);
  border: 1px solid var(--third);
  color: var(--third);
  padding: 0.2rem 1rem;
  height: fit-content;
  &,
  * {
    transition: 300ms;
  }
  &:hover {
    gap: 2rem;
    // width: 11rem;
    box-shadow: 0 0 0.8rem var(--third);
    color: var(--font-light);
    background-color: var(--third);
  }
}
.icon-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
}
.icon-text-hover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  padding: 0.4rem 0.8rem;
  border-radius: 100rem;
  transition: 200ms;
  &:hover {
    gap: 0.8rem;
    color: var(--font-light);
    background-color: var(--third);
  }
}
.section {
  padding: 1rem;
  width: 100%;
}
.section-title {
  color: var(--third);
  font-size: 1.4em;
  margin-bottom: 0.6rem;
}
.max-w-4 {
  max-width: 20rem;
}
.max-w-2 {
  max-width: 10rem;
}
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image-container-16-9 {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  border-radius: 0.6rem;
}
.image-container-21-9 {
  border-radius: 0.6rem;
  width: 100%;
  padding-top: 42.85%;
  overflow: hidden;
  position: relative;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.two-paragraphs-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  > .paragraph {
    width: 45%;
    min-width: 10rem;
    text-align: center;
  }
}

.centered-paragraph {
  text-align: center;
}

.text-third {
  color: var(--third);
}

.input-container {
  width: 100%;
  label {
    font-weight: 800;
    margin-bottom: 0.4rem;
    display: block;
    color: var(--main);
  }
  &.third {
    --main: var(--third);
  }
  input,
  textarea,
  select {
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--main);
    border-radius: 0.6rem;
    padding: 0.4rem 1rem;
    // height: 1rem;
    font-size: 1rem;
    display: block;
    color: var(--main-fixed);
    font-family: inherit;
    transition: 200ms;
    &:focus {
      box-shadow: 0 0 0rem 0.2rem var(--main);
      // outline: none;
      // border: none;
      border-color: transparent;
      outline: none;
    }
  }
  textarea {
    min-height: 8rem;
  }
}
.double {
  display: flex;
  width: 100%;
  gap: 1rem;
  > * {
    width: calc(50% - 0.5rem);
  }
}
@include Mobile {
  html {
    font-size: 14px;
  }
}
