ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: unset;
  outline: none;
  border: none;
}

.ltr {
  direction: ltr !important;
}
.rtl {
  direction: rtl !important;
}

.center-head {
  width: 100%;
  text-align: center;
}
.bg-container {
  background-size: cover;
  background-position: center;
}
input {
  background-color: transparent;
  font-family: inherit;
  color: inherit;
}

button {
  font-size: inherit;
  background-color: unset;
  color: inherit;
  outline: unset;
  border: unset;
}

h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.275rem;
}
h6 {
  font-size: 1.15rem;
}
